$grey : grey;
$white : white;
$black : black;
$dark-mint: #075E54;
$dark-light :  #2A2F32;
$holder-background: #262D31;
$dark-black : #131C21;
$thin-font: 200;
$grey-color: #787676;
$grey-ish: #F8F8F8;
$font-colour: #B1B3B5;
$holder-font-colour: #B3B6B8;
$holder-small-font-colour: #989A9D;
$text-font-family: Source Sans Pro;
$dark-scroll:#394045;
$text-font-colour: #6B7C93;
$small-font: 1.1rem;
$small: 500px;
$blue: #004AC4;
$mint: #056162;
$medium: 1000px;
$mid-big: 850px;
$small-mid: 700px;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Source+Sans+Pro&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, button, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, select, input {
	margin: 0;
	padding: 0;
	border: 0;
	//font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    margin-block-start: 0;
    margin-block-end: 0;
    display: block;
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
    // color: $font-colour;
 //   outline: 2px solid red;
}

html {
    font-size: 70%;
    // @media screen and (max-width: 95em) {
    //    font-size: 55%;
    // }
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh; 

    @media screen and (max-width: 320px) {
        margin: .2rem;
      }
}
ol, ul {
	list-style: none;
}
button {
    text-decoration: none;
    -webkit-appearance: none;
    outline: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

